{% extends 'base.html' %}

{% block title %}
    Terminy wizyt
{% endblock %}

{% block main %}
    {{ dietician }} - Wybierz termin:

    <div class="container">
        <div class="row">
            {% for day_id, term in appointments.items %}
                <div class="col">
                    {{ term.day }}
                    <ul>
                        {% for hour_id, hour in term.hours.items %}
                            <li>
                                {% if hour.available %}
                                    <span class="free_appointment">
                                        <a href="{% url 'core:dietician_personal_data' dietician.id day_id hour_id %}">{{ hour.hour }}</a>
                                    </span>
                                {% else %}
                                    <span class="taken_appointment">{{ hour.hour }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
