{% extends 'base.html' %}

{% block title %}
    Dietetycy
{% endblock %}

{% block main %}
    <ul>
        {% for dietician in object_list %}
            <li>
                <a href="{% url 'core:dietician_detail' dietician.id %}">{{ dietician }}</a>
            </li>
        {% empty %}
            <li>Brak dietetyków</li>
        {% endfor %}
    </ul>
{% endblock %}
