{% extends 'base.html' %}

{% block title %}
    rezerwuj już dziś :-)
{% endblock %}

{% block main %}
    {{ dietician }} - {{ day }} - {{ hour }}
    <div id="error">{% if error %}{{ error }}{%  endif %}</div>
    <form action="#" method="post" id="user-appointment-form">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit">

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </form>
{% endblock %}
