{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <ul>
        {% for appointment in object_list %}
            <li>{{ appointment }} - {{ appointment.dietician }}</li>
        {% empty %}
            <li>Brak wizyt</li>
        {% endfor %}
    </ul>
{% endblock %}