{% extends 'base.html' %}

{% block title %}
    Dietetycy
{% endblock %}

{% block main %}
    <ul>
        {% for dietician in object_list %}
            <li>{{ dietician }}</li>
        {% empty %}}
            <li>Brak dietetyków</li>
        {% endfor %}
    </ul>
{% endblock %}